// Secular One Font
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');



.home{
    width: 100vw;
    // height: 80vh;
    // border: 1px solid blue;
}

.card1{
    width: 100%;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    // border: 1px solid indianred;
}

.card1-left{
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: #337ab7;
    padding: 40px;
    font-family: 'Secular One', sans-serif;
    // border: 1px solid red;
}
.card1-right{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #337ab7;
}

.arrow-ani {
    width: 60%;
    height: 280px;
    background: url('https://miro.medium.com/max/1400/1*9MECPZ5wUPS08IWMcqJKiA.png') center no-repeat;
    background-size: cover;
    clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
    animation: clips 3s ease infinite;
  }
  
  @keyframes clips {
    50% {
  clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%)
    }
  }

  .card2{
    width: 60%;
    height: 100px;
    margin: auto;
    margin-top: 10%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    // border: 1px solid red;
  }

  .card2>div:nth-child(1){
    border: 1px solid #C0C0C0;
    border-top: none;
    border-bottom: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .card2>div:nth-child(2){
    border: 1px solid #C0C0C0;
    border-top: none;
    border-bottom: none;
    border-right: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .card2>div:nth-child(3){
    border: 1px solid #C0C0C0;
    border-top: none;
    border-bottom: none;
    border-right: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .card2>div:nth-child(4){
    border: 1px solid #C0C0C0;
    border-top: none;
    border-bottom: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card3{
    width: 70%;
    height: 300px;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    // border: 1px solid red;
  }

  .card3>div{
    // border: 1px solid teal;
  }

  .gradiant1{
    background-image: linear-gradient( 110.5deg,  rgba(71,114,148,1) 14.9%, rgba(149,245,211,1) 77.9% );  
    border-radius: 20px;
  }
  .gradiant1>div:nth-child(1){
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 80px;
  }
  .gradiant1>div:nth-child(2){
    height: 20%;
    color: white;
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
  }

  .gradiant2{
    background-image: radial-gradient( circle 426px at 77.9% 31.3%,  rgba(255,229,131,1) 0%, rgba(249,119,0,1) 90% ); 
    border-radius: 20px;
  }

  .gradiant2>div:nth-child(1){
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 80px;
  }
  .gradiant2>div:nth-child(2){
    height: 20%;
    color: white;
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
  }


  .gradiant3{
    background-image: linear-gradient( 110.3deg,  rgba(73,93,109,1) 4.3%, rgba(49,55,82,1) 96.7% );
    border-radius: 20px;
  }

  .gradiant3>div:nth-child(1){
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 80px;
  }
  .gradiant3>div:nth-child(2){
    height: 20%;
    color: white;
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
  }

  .courses-anim{
    animation: MoveUpDown 5s linear infinite;
    position: relative;
    cursor: pointer;
  }

  .videos-anim{
    animation: MoveUpDown 5s linear infinite;
    position: relative;
    cursor: pointer;
  }

  .quizes-anim{
    animation: MoveUpDown 5s linear infinite;
    position: relative;
    cursor: pointer;
  }

  @keyframes MoveUpDown {
    0%, 100% {
      bottom: 0;
    }
    50% {
      bottom: 40px;
    }
  }

  .card4{
    width: 30%;
    height: 250px;
    margin: auto;
    margin-bottom: 10%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 30px;
    // border: 1px solid red;
  }

  .card4>div:nth-child(odd){
    // border: 1px solid red;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  .card4>div:nth-child(even){
    // border: 1px solid red;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
  }
  
  .card4>div:nth-child(1){
    background: #addcf4;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 40px;
  }
  .card4>div:nth-child(2){
    background: #6699CC	;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 40px;
  }
  .card4>div:nth-child(3){
    background: #CC99CC;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 40px;
  }
  .card4>div:nth-child(4){
    background: #FFCCCC;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 40px;
  }
  .card4>div:nth-child(5){
    background: #CC99CC;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 40px;
  }
  .card4>div:nth-child(6){
    background: #addcf4;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 40px;
    font-weight: bold;
  }
  .card4>div:nth-child(7){
    background: #6699CC;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 40px;
    font-weight: bold;
  }
  .card4>div:nth-child(8){
    background: #CC99CC;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 40px;
  }
  .card4>div:nth-child(9){
    background: #FFCCCC;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 40px;
  }
  .card4>div:nth-child(10){
    background: #CC99CC;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 40px;
  }
  .card4>div:nth-child(11){
    background: #addcf4;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 40px;
  }
  .card4>div:nth-child(12){
    background: #6699CC;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 40px;
  }
  .card4-title{
    text-align: center;
    margin-bottom: 5%;
    font-size: 50px;
    font-weight:bold;
    color: #337ab7;
  }